<h1>All homework assignments</h1><br><br>
<% @homework_assignments.each do |homework_assignment| %>
  <h4><a href="/homework_assignments/<%= homework_assignment.id %>"><%= homework_assignment.created_at %></a></h4>
  <p><%= homework_assignment.subject %></p>
  <p><%= homework_assignment.notes %></p>
  <p>By <%= homework_assignment.user.username %></p>
  <br><br>
<% end %>